header{
  background-image: url("https://media.giphy.com/media/l8lDkxOth2IF2/giphy.gif");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}
nav{
    overflow:hidden;
    border:5px outset gold;
    width: 100%;
    background-color: black;
    margin: 0px;
    position: fixed;
  
  }
a{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    color:whitesmoke;
    font-size: 25px;
}
  a:first-child{background-color:goldenrod;}
  a:hover{background-color: goldenrod;}
img{
      width: 70%;
      margin-left:14%;
      margin-right:14%;
      border:5px outset goldenrod;
      margin-top: 7.5%;
  
  }
 
h1,h2{
      text-align: center;
      color:rgb(228, 164, 46);
      font-family: 'Angkor', cursive;
  }
  body{
    background-image: url(https://media.giphy.com/media/26n6G8lRMOrYC6rFS/giphy.gif);
    background-size: 20%;
    margin: auto;
    background-repeat: round;
    background-position:inherit;
  }
  main{
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
  }
  
  .Choice a{
    color:rgba(139, 0, 0, 0);
    padding: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin:5%;
    background-color: khaki;
    background-position: center;
    background-repeat: no-repeat;
    background-size:80%;
    border: 10px outset rgb(207, 165, 80);
    
  }
  .Choice a:hover{
    opacity: 0.6;
    background-color: gold;
  }
  .Choice{
    width: 80%;
    padding: 5%;
    height: auto;
    margin-left: 15%;
  }
  #Videos{
    background-image: url("video1.png");
  
  }

  #Search{
    background-image: url("Search.png");
   
    
  
  }
  #E-BOOK{
    background-image: url("Book2.png");
  
  }
  
 
  